.Field {
  flex-direction: column;
  display: flex;
  width: 100px;
  text-align: center;
}

.Field-input {
  width: 100px;
  margin: 0 auto;
  height: 60px;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  border: #BEBEC1 solid 1px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus {
  outline-color: #BEBEC1;
  outline-style: auto;
  outline-width: 5px;
  z-index: 999;
}
