.Footer {
  display: flex;
  flex-direction: row;
}

.Footer-big {
  width: 140px;
  border: white solid 1px;
}

.Footer-default {
  height: 72px;
  width: 100px;
  display: flex;
  border: white solid 1px;
}

.Footer p {
  font-size: 26px;
  font-weight: bold;
  color: #BEBEC1;
  text-align: center;
  align-self: flex-end;
  margin-bottom: 10px;
  width: 100%;
}
