.Header {
  display: flex;
  flex-direction: row;
}

.Header-default {
  height: 72px;
  width: 100px;
  display: flex;
  border: white solid 1px;
}

.Header-big {
  height: 72px;
  display: flex;
  width: 140px;
  border: white solid 1px;
}

.Header p {
  width: 100%;
  align-self: flex-end;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  color: gray;
  text-align: center;
  padding: 0 20px;
}
